/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        excl {
            bindings = <&kp EXCL>;
            key-positions = <1 11>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <2 12>;
        };

        scope {
            bindings = <&scope>;
            key-positions = <3 13>;
        };

        caret {
            bindings = <&kp CARET>;
            key-positions = <4 14>;
        };

        lpar {
            bindings = <&kp LPAR>;
            key-positions = <11 12>;
        };

        lbrc {
            bindings = <&kp LBRC>;
            key-positions = <11 13>;
        };

        lbkt {
            bindings = <&kp LBKT>;
            key-positions = <12 13>;
        };

        quest-m {
            bindings = <&kp QMARK>;
            key-positions = <13 14>;
        };

        x-super_r {
            bindings = <&kp K_MUTE>;
            key-positions = <11 21>;
        };

        bslash {
            bindings = <&kp BSLH>;
            key-positions = <12 22>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <13 23>;
        };

        tilde {
            bindings = <&kp TILDE>;
            key-positions = <14 24>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <21 22>;
        };

        underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <22 23>;
        };

        switch_lang {
            bindings = <&sl 1>;
            key-positions = <21 23>;
        };

        toggle_game_layer {
            bindings = <&tog 2>;
            key-positions = <20 23>;
        };

        percent {
            bindings = <&kp PRCNT>;
            key-positions = <5 15>;
        };

        hash {
            bindings = <&kp HASH>;
            key-positions = <6 16>;
        };

        semicolon {
            bindings = <&kp SEMI>;
            key-positions = <7 17>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <8 18>;
        };

        section {
            bindings = <&kp DE_SECTION>;
            key-positions = <15 16>;
        };

        rbkt {
            bindings = <&kp RBKT>;
            key-positions = <16 17>;
        };

        rbrc {
            bindings = <&kp RBRC>;
            key-positions = <18 16>;
        };

        rpar {
            bindings = <&kp RPAR>;
            key-positions = <17 18>;
        };

        dollar {
            bindings = <&kp DLLR>;
            key-positions = <15 25>;
        };

        ampersand {
            bindings = <&kp AMPS>;
            key-positions = <16 26>;
        };

        star {
            bindings = <&kp STAR>;
            key-positions = <17 27>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <18 28>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <27 26>;
        };

        euro {
            bindings = <&kp DE_EURO>;
            key-positions = <28 26>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <28 27>;
        };
    };

    macros {
        scope: scope {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp COLON>;
            label = "SCOPE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&kp Q      &kp W      &kp F      &kp P      &kp B       &kp J      &kp L        &kp U         &kp Y      &kp APOS
&kp LA(A)  &kp LG(R)  &kp LS(S)  &kp LC(T)  &kp G       &kp M      &kp RC(N)    &kp RS(E)     &kp RG(I)  &kp RA(O)
&kp Z      &kp X      &kp C      &kp D      &kp V       &kp K      &kp H        &kp COMMA     &kp DOT    &kp FSLH
                      &lt 3 TAB  &lt 1 DEL  &lt 2 BSPC  &lt 2 RET  &lt 1 SPACE  &lt 3 ESCAPE
            >;
        };

        sym_layer {
            bindings = <
&kp DE_EURO      &kp EXCL   &kp LBKT        &kp RBKT       &kp HASH   &trans         &trans     &kp DE_U_UMLAUT  &kp AT    &kp UNDERSCORE
&kp DE_A_UMLAUT  &kp MINUS  &kp DE_SHARP_S  &kp PLUS       &kp EQUAL  &kp AMPERSAND  &kp PRCNT  &kp LBRC         &kp RBRC  &kp DE_O_UMLAUT
&kp CARET        &kp FSLH   &kp ASTRK       &kp BACKSLASH  &kp TILDE  &trans         &kp DLLR   &kp LT           &kp GT    &kp FSLH
                            &trans          &trans         &trans     &trans         &trans     &trans
            >;
        };

        num_layer {
            bindings = <
&kp UNDER  &kp N6  &kp N5  &kp N4  &kp PLUS   &kp STAR   &kp F4  &kp F5  &kp F6  &kp F10
&kp DOT    &kp N3  &kp N2  &kp N1  &kp MINUS  &kp LSHFT  &kp F1  &kp F2  &kp F3  &kp F11
&kp COMMA  &kp N9  &kp N8  &kp N7  &kp EQUAL  &kp COLON  &kp F7  &kp F8  &kp F9  &kp F12
                   &trans  &trans  &kp N0     &kp N0     &trans  &trans
            >;
        };

        nav_layer {
            bindings = <
&trans     &kp ESC    &kp SPACE   &kp RET      &trans  &trans  &trans    &trans      &trans      &trans
&kp LALT   &kp LGUI   &kp LSHFT   &kp LCTRL    &trans  &trans  &kp LEFT  &kp DOWN    &kp UP      &kp RIGHT
&kp LC(A)  &kp K_CUT  &kp K_COPY  &kp K_PASTE  &trans  &trans  &kp HOME  &kp K_PREV  &kp K_NEXT  &kp END
                      &trans      &trans       &trans  &trans  &trans    &trans
            >;
        };
    };
};
